# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
.coverage.*

# Virtual environments
.venv/
venv/
env/

# AWS SAM
.aws-sam/

# IDE
.idea/
.vscode/

# OS
.DS_Store
